# Ignore local files
launcher.sh
demo.ipynb
tp_conv.py
tp_dcm.py
tp_ml_only.py
tp_rb.py
tp_tac.py

# Ignore local folders
external/
snaps/

# Ignore unwanted file types
*.odg
.ipynb_checkpoints/
__pycache__
